@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text colors */
.text-primary {
  color: #292929;
}

.text-secondary {
  color: #848484;
}

/* Bg colors */

.bg-secondary {
  background-color: #e8e8e8;
}

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}
